<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {# Bootstrap reference #}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    {# Bootstrap style sheet #}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    {# Local style sheet #}
    <link rel="stylesheet" href="/static/styles.css">

    {% block head %}{% endblock %}
  </head>
  <body>
      {# Navbar Logged In #}
     <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand mb-2 ms-2 logo" href="/"><img src="/static/lemmeshowyouasonglogo.png"  alt="Lemme Show You a Song Logo" width="130"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-2">
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex">
          <li class="nav-item dropdown">
            <a 
            class="nav-link dropdown-toggle" 
            href="#" 
            id="navbarDropdown" 
            role="button" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="true"
            style="align-items: center;"
            >
              Data Options
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item prog" href='/authorize'>Update Spotify Data</a></li>
              <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#load_more">
                Load More Spotify Data
              </button></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/log_out">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>

    {# Modal to alert user that loading more Spotify data may take a few minutes #}
    <div class="modal" tabindex="-1" id="load_more" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Load More Data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Please note, it will take about 3 minutes to load more data from Spotify.</p>
          </div>
          <div class="modal-footer">
            <form action = '/load_more'>
              <button type="submit" class="btn btn-primary">Continue</button>
          </form>
          </div>
        </div>
      </div>
    </div>

    
    {# Flashed messages #}
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}

    {% endblock %}

    {% block after_body %}{% endblock %}

    {% block js %}{% endblock %}

    {# Bootstrap reference #}
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
    crossorigin="anonymous">
    </script>

    <script>
      // loading graphic for long requests
      const inputs = document.getElementsByClassName("prog");
      for (var i=0,len=inputs.length; i<len; i++) {
        inputs[i].onclick = function() {
          document.body.style.cursor = "progress";
          inputs[0].style.cursor = 'progress';
        };
      };
    </script>
  </body>
</html>
