{% extends 'base.html' %}
{% block title %}TEMP TITLE{% endblock %}

{% block head %}
  {# ChartJS #}   
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">Welcome!</h1>
  </div>
</div>

<div class="container-fluid">
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  Dont have an account?
  <a href='/users'>Create account</a>
</div>
<br>

  <div class="container">
    <div class="card ">
      <div class="card-body">
        <h2>All Genres</h2>
        <div id="site-content">
          <canvas id="all_genres"></canvas>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block js %}
  <script src="/static/genres.js"></script>
{% endblock %}