{% extends 'base.html' %}
{% block title %}Lemme Show You a Song{% endblock %}

{% block head %}
  {# ChartJS reference #}   
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}

{% block body %}

{# Headline for the homepage #}
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">Welcome!</h1>
  </div>
</div>

<div class="container-fluid">
  <div class='row'>

    {# Log in form #}
    <div class="column col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h2 style="color: white;">Log In</h2>
    <form  action="/login" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>

    {# Option to redirect to create an account if the user does not have one #}
    <span>
      Dont have an account?
      <a href='/users' style="color: white">Create account</a>
    </span>
    </div>

    {# Graphic of all users' top genres #}
    <div class="column col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7">
      <div class="card">
        <div class="card-body">
          <h2>What is this?</h2>
          <p style="margin-bottom: 0;">Make new playlists with other Spotify users of songs you haven't heard before. Or make your own playlists of new songs based on your favorite songs.</p>
        </div>
      </div>
    <div class="card">
      <div class="card-body">
        <h2>All of Our Users' Top Genres</h2>
        <div id="site-content">
          <canvas id="all_genres"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
  
<br>
</div>

{% endblock %}

{% block js %}
  {# ChartJS Javascript file #}
  <script src="/static/genres.js"></script>
{% endblock %}