{% extends 'base.html' %}

{% block title %}Play - Details{% endblock %}

{% block body %}

<div class="container-fluid" id="navigate" style="display: none;">
  <nav class = "navbar fixed-bottom bg-light">
    <div class="col-3">
      <span class="navbar-text" id="track" style="font-size:90%">
      </span>
    </div>
    <div class="col-3 align-content-center">
      <div class="btn-group" role="group">
        <button type="button" id="togglePrevious"><i class="bi bi-skip-backward-fill"></i></button>
        <button type="button" id="togglePlay"><i class="bi bi-pause"></i></button>
        <button type="button" id="toggleNext"><i class="bi bi-skip-forward-fill"></i></button>
      </div>
    </div>
    <div class="col-3">
    <span></span>
  </div>
  </nav>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">{{ playlist.title }}</h1>
      <div class="btn-group navbar-brand" role="group">
        <button id="loadPlaylist" class="btn btn-outline-primary">Play All </button>
      </div>
      <div class="btn-group navbar-brand" role="group">
        <form action = '/export_playlist' method = 'POST'> 
          {% if '&' in playlist.title %} 
            <button type="submit" class="btn btn-outline-primary" name="playlist_id_shared" value="{{ playlist.id }}"> Export Playlist to Spotify</button>
          {% endif %}
          {% if '&' not in playlist.title %} 
            <button type="submit" class="btn btn-outline-primary" name="playlist_id_solo" value="{{ playlist.id }}"> Export Playlist to Spotify</button>
          {% endif %}
        </form>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="re-auth" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Authenticate</h5>
      </div>
      <div class="modal-body">
        <p>Please re-authenticate Spotify.</p>
      </div>
      <div class="modal-footer">
        <form action = '/refresh-token'>
          <button type="submit" class="btn btn-primary">Authenticate</button>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col-2">#</th>
        <th scope="col-5">Title</th>
        <th scope="col-5">Artist</th>
      </tr>
    </thead>
    <tbody>
      {% for track in playlist.tracks %}
      <tr class="other_text {{loop.index}}" id="{{track.spotify_track_id}}text">
        <th scope='row'> 
          <button id="{{track.spotify_track_id}}" class="play">{{loop.index}}</button> 
        </th>
        <td>{{ track.title }}</td>
        <td>{{ track.artist }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>
<br>
<br>

</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
  window.onSpotifyWebPlaybackSDKReady = () => {
      const token = '{{ access_token }}';
      const player = new Spotify.Player({
          name: 'Web Playback SDK Quick Start Player',
          getOAuthToken: cb => { cb(token); },
          volume: 0.5
      });
      
      // Ready
      player.addListener('ready', ({ device_id }) => {
          console.log('Ready with Device ID', device_id);

          const connect_to_device = () => {
            console.log("Changing to device");
            let change_device = fetch("https://api.spotify.com/v1/me/player", {
              method: "PUT",
              body: JSON.stringify({
                device_ids: [device_id],
                play: false,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => console.log(response));
            };
          
          connect_to_device();

          const handle_shuffle = () => {
            console.log("Handling shuffle");
            let change_device = fetch("https://api.spotify.com/v1/me/player/shuffle", {
              method: "PUT",
              body: JSON.stringify({
                state: false,
                device_id: device_id,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => console.log(response));
            };
        
          handle_shuffle();
          });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
          console.log('Device ID has gone offline', device_id);
      });

      player.addListener('initialization_error', ({ message }) => {
          console.error(message);
      });

      player.addListener('authentication_error', ({ message }) => {
          console.error(message);
          document.getElementById('re-auth').style.display = "block";
      });

      player.addListener('account_error', ({ message }) => {
          console.error(message);
      });

      player.addListener('player_state_changed', ({
        track_window: { current_track}
      }) => {
        let name = current_track['name'];
        let artist = current_track['artists'][0]['name'];
        let id_current = current_track['id'];
        document.getElementById('track').innerHTML = '<b>'+name+'</b><br>'+artist;
        for (const element of document.getElementsByClassName('other_text')) {
          element.style.background = 'white';
        }
        document.getElementById(id_current+'text').style.background = 'green';
        console.log('Currently Track', current_track);
      });

      player.connect();

      document.getElementById('togglePlay').onclick = function() {
        player.togglePlay();
        const play = document.getElementById('togglePlay');
        if (play.innerHTML ==  '<i class="bi bi-play-fill"></i>'){
          play.innerHTML= '<i class="bi bi-pause"></i>';
        }
        else {
          play.innerHTML=  '<i class="bi bi-play-fill"></i>';
        }
      };
      
      document.getElementById('togglePrevious').onclick = function() {
        player.previousTrack();

        const play = document.getElementById('togglePlay');
        if (play.innerHTML == '<i class="bi bi-play-fill"></i>'){
          play.innerHTML= '<i class="bi bi-pause"></i>';
        }
        
      };

      document.getElementById('toggleNext').onclick = function() {
        player.nextTrack();
        const play = document.getElementById('togglePlay');
        if (play.innerHTML ==  '<i class="bi bi-play-fill"></i>'){
          play.innerHTML = '<i class="bi bi-pause"></i>';
        }
        
      };

      for (const element of document.getElementsByClassName('play')) {
        const number = element.innerHTML;
        const container = document.getElementsByClassName(number);
        for (const col of container) {
          col.onmouseover = function() {
            console.log('MOUSEOVER');
            element.innerHTML = '<i class="bi bi-play-fill"></i>';
          };
          col.onmouseleave = function() {
            element.innerHTML = number;
          }}
        }
      const playlistTracks = JSON.parse('{{ playlist_tracks | tojson }}');

      URIs = []
      for (const track of playlistTracks) {
        URIs.push('spotify:track:'+track);
      }

      document.getElementById('loadPlaylist').onclick = function() {
        const update_queue = () => {
            console.log("Updating the queue");
            let update_queue = fetch("https://api.spotify.com/v1/me/player/play", {
              method: "PUT",
              body: JSON.stringify({
                uris: URIs,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => console.log(response));
            };
        update_queue();
        
        player.togglePlay();

        const navigate=document.getElementById('navigate');
        navigate.style.display = "block";

      };

      for (const [index,track] of playlistTracks.entries()) {
        const tempURIs = URIs.slice(index).concat(URIs.slice(0,index));
        const trackID = track;
        document.getElementById(trackID).onclick = function() {
        const update_queue = () => {
            console.log("Updating the queue");
            let update_queue = fetch("https://api.spotify.com/v1/me/player/play", {
              method: "PUT",
              body: JSON.stringify({
                uris: tempURIs,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => console.log(response));
            };
        update_queue();
        
        player.togglePlay();

        const navigate=document.getElementById('navigate');
        navigate.style.display = "block";
      };
      }
  }
</script>

{% endblock %}