{% extends 'base.html' %}

{% block title %}Playlist - Details{% endblock %}

{% block body %}

{# A bottem navbar that pops up when the user starts playing a song #}
{# The navbar displays the song and play/pause, forward, backward buttons for navigation#}
<div class="container-fluid" id="navigate" style="display: none;">
  <nav class = "navbar fixed-bottom">
    <div class="col-3 col-md-4">
      <div class="navbar-text" id="track" style="font-size:90%">
      </div>
    </div>
    <div class="col-3 col-md-4 d-flex justify-content-center">
      <div class="btn-group" role="group">
        <button class="btn btn-primary" type="button" id="togglePrevious"><i class="bi bi-skip-backward-fill"></i></button>
        <button class="btn btn-primary" type="button" id="togglePlay"><i class="bi bi-pause"></i></button>
        <button class="btn btn-primary" type="button" id="toggleNext"><i class="bi bi-skip-forward-fill"></i></button>
      </div>
    </div>
    <div class="col-3 col-md-4">
    <span></span>
  </div>
  </nav>
</div>

{# The headline for the playlist including title and a edit title option #}
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4" style="display: flex; align-items: center;">
      {{ playlist.title }}
      <div id = 'edit'>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rename" id="edit_playlist">
          <i class="bi bi-pen"></i>
        </button>
        {# Pop-up explaining the purpose of the edit playlist button #}
        <span id = 'edit_info' style="display: none;">
          Edit Title
        </span>
      </div>
    </h1>
    <h6>
      {# displays the public/private status of the playlist #}
      {% if playlist.public == True %}
        Public
      {% else %}
        Private
      {% endif %}
    </h6>
    {# A dropdown button to allow users to export the playlist to Spotify as public or private #}
      <div class="btn-group navbar-brand" role="group">
        <button id="loadPlaylist" class="btn btn-primary"><i class="bi bi-play"></i></button>
      </div>
      <div class="btn-group navbar-brand" role="group">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export Playlist to Spotify
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action = '/export_playlist' method = 'POST'> 
              {% if not playlist.joining_user_id %} 
              <button class="dropdown-item" name="playlist_id_solo" value="{{ playlist.id }}, private">Export as Private</button>
              <button class="dropdown-item" name="playlist_id_solo" value="{{ playlist.id }}, public">Export as Public</button>
              {% else %} 
              <button class="dropdown-item" name="playlist_id_shared" value="{{ playlist.id }}, private">Export as Private</button>
              <button class="dropdown-item" name="playlist_id_shared" value="{{ playlist.id }}, public">Export as Public</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{# Table of playlist songs #}
<div class="container justify-content-start playlist-table">
  <table class="table table-sm align-middle">
    <thead>
      <tr>
        <th scope='col'>&nbsp&nbsp&nbsp#</th>
        <th scope='col'>Title</th>
        <th scope='col'>Artist</th>
      </tr>
    </thead>
    <tbody>
      {% for track in playlist.tracks %}
      <tr class="other_text {{loop.index}}" id="{{track.spotify_track_id}}text">
        <th scope='row'> 
          <button id="{{track.spotify_track_id}}" class="play btn btn-outline-primary">{{loop.index}}</button> 
        </th>
        <td>{{ track.title }}</td>
        <td>{{ track.artist }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {# Button to allow user to create a new playlist with the same users as this playlist #}
  {% if not 'Top Tracks' in playlist.title %}
    {% if not playlist.joining_user_id %}
      <form action='/playlist' method = 'POST'>
        <input class='btn btn-primary' type="submit" value="Make a Fresh Playlist?">
      </form>  
    {% else %}
      {% if user.id == playlist.creating_user_id %}
        <form action='/playlist/{{ playlist.joining_user_id }}' method = 'POST'>
          <input class='btn btn-primary' type="submit" value="Make a Fresh Playlist with this User?">
        </form>
      {% else %}
        <form action='/playlist/{{ playlist.creating_user_id }}' method = 'POST'>
          <input  class='btn btn-primary' type="submit" value="Make a Fresh Playlist with this User?">
        </form>
      {% endif %}
    {% endif %} 
    

    <p>Please note, this will create a new playlist, but you will still have access to this one.</p>
  {% endif %}
  </div>
<br>
<br>
<br>

{# Modal to rename the playlist #}
<div class="modal fade" tabindex="-1" id="rename" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rename Playlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% if not playlist.joining_user_id %}
      <div class="modal-body">
        <form  action = '/rename_solo_playlist/{{playlist.id}}' method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">New name:</label>
            <input type="text" name="new_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{playlist.title}}">
          </div>
          <br>
          <button type="submit" class="btn btn-primary" value="Rename">Rename</button>
          <br>
        </form>
      </div>  
      {% else %}
      <div class="modal-body">
        <form  action = '/rename_shared_playlist/{{playlist.id}}' method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">New name:</label>
            <input type="text" name="new_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{playlist.title}}">
          </div>
          <br>
          <button type="submit" class="btn btn-primary" value="Rename">Rename</button>
          <br>
        </form>
      </div>  
      {% endif %}  
    </div>
  </div>
</div>
{# A modal for users to rename a playlist #}
<div class="modal" tabindex="-1" id="re-auth" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Authenticate</h5>
      </div>
      <div class="modal-body">
        <p>Please re-authenticate Spotify.</p>
      </div>
      <div class="modal-footer">
        <form action = '/refresh-token'>
          <button type="submit" class="btn btn-primary">Authenticate</button>
      </form>
      </div>
    </div>
  </div>
</div>

</div>

<!-- {# Javascript for the Spotify webplayer to allow users to listen to the playlist on the webpage#} -->
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
  window.onSpotifyWebPlaybackSDKReady = () => {
      const token = '{{ access_token }}';
      const player = new Spotify.Player({
          name: 'Web Playback SDK Quick Start Player',
          getOAuthToken: cb => { cb(token); },
          volume: 0.5
      });
      
      // Ready
      player.addListener('ready', ({ device_id }) => {
          console.log('Ready with Device ID', device_id);

          // Connect Spotify to the current device ID
          const connect_to_device = () => {
            console.log("Changing to device");
            let change_device = fetch("https://api.spotify.com/v1/me/player", {
              method: "PUT",
              body: JSON.stringify({
                device_ids: [device_id],
                play: false,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => {
              console.log(response)
              // Ask user to re-authorize Spotify if there is an error 
              if (response['status'] > 300) {
                document.getElementById('re-auth').style.display = "block";
              }});
            
            };
          
          connect_to_device();

          // Set the playback to never shuffle 
          const handle_shuffle = () => {
            console.log("Handling shuffle");
            let shuffle = fetch("https://api.spotify.com/v1/me/player/shuffle?state=false&device_id="+device_id, {
              method: "PUT",
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => console.log(response));
            };
        
          setTimeout(() => { handle_shuffle()}, "3000");
          });

      // Not Ready—various possible errors
      player.addListener('not_ready', ({ device_id }) => {
          console.log('Device ID has gone offline', device_id);
          // Ask user to re-authorize Spotify if there is an error 
          document.getElementById('re-auth').style.display = "block";
      });

      player.addListener('initialization_error', ({ message }) => {
          console.error(message);
          // Ask user to re-authorize Spotify if there is an error 
          document.getElementById('re-auth').style.display = "block";
      });

      player.addListener('authentication_error', ({ message }) => {
          console.error(message);
          // Ask user to re-authorize Spotify if there is an error 
          document.getElementById('re-auth').style.display = "block";
      });

      player.addListener('account_error', ({ message }) => {
          console.error(message);
          // Ask user to re-authorize Spotify if there is an error 
          document.getElementById('re-auth').style.display = "block";
      });

      // Listen for if the playstate changed
      player.addListener('player_state_changed', ({
        track_window: { current_track}
      }) => {
        // Display the playing track in the bottom navbar
        let name = current_track['name'];
        let artist = current_track['artists'][0]['name'];
        let id_current = current_track['id'];
        document.getElementById('track').innerHTML = '<b>'+name+'</b><br>'+artist;
        // Set all the other tracks back to the default formatting
        for (const element of document.getElementsByClassName('other_text')) {
          document.getElementById(element.id.substring(0,22)).innerHTML = element.classList[1];
          element.style.color = '#C9C6D8';
          element.style.fontWeight = 'normal';
        }
        // Bold and change the font color of the currently playing track
        // Also add a music note to the play button in the track list to indicate which song is playing 
        document.getElementById(id_current+'text').style.color = 'white';
        document.getElementById(id_current+'text').style.fontWeight = 'bold';
        document.getElementById(id_current).innerHTML= '<i class="bi bi-music-note-beamed"></i>';
      });

      // Connect to the player
      player.connect();

      // Play/pause the web player
      document.getElementById('togglePlay').onclick = function() {
        player.togglePlay();
        const play = document.getElementById('togglePlay');
        // Change the navbar play/pause button to reflect the option that is not currently chosen
        if (play.innerHTML ==  '<i class="bi bi-play-fill"></i>'){
          play.innerHTML= '<i class="bi bi-pause"></i>';
        }
        else {
          play.innerHTML=  '<i class="bi bi-play-fill"></i>';
        }
      };
      
      // Go to the previous song
      document.getElementById('togglePrevious').onclick = function() {
        player.previousTrack();

        const play = document.getElementById('togglePlay');
        if (play.innerHTML == '<i class="bi bi-play-fill"></i>'){
          play.innerHTML= '<i class="bi bi-pause"></i>';
        }
        
      };

      // Go to the next song
      document.getElementById('toggleNext').onclick = function() {
        player.nextTrack();
        const play = document.getElementById('togglePlay');
        if (play.innerHTML ==  '<i class="bi bi-play-fill"></i>'){
          play.innerHTML = '<i class="bi bi-pause"></i>';
        }
        
      };

      // Change the track list numbers to play buttons when the user hovers over the track
      for (const element of document.getElementsByClassName('play')) {
        const number = element.innerHTML;
        const current_id = element.id;
        const container = document.getElementsByClassName(number);
        for (const col of container) {
          col.onmouseover = function() {
            element.innerHTML = '<i class="bi bi-play-fill"></i>';
          };
          col.onmouseleave = function() {
            if (document.getElementById(current_id+'text').style.fontWeight == 'bold') {
              element.innerHTML = '<i class="bi bi-music-note-beamed"></i>';
          }
          else {
            element.innerHTML = number;
          }
          }
        };
        }
      
      // Do not allow users to edit the name of their Top Tracks playlist
      if ('{{ playlist.title }}'.includes('Top Tracks')){
        document.getElementById('edit').style.display = 'none';
      }

      // Display the pop-up to explain the edit playlist name button 
      const edit = document.getElementById('edit_playlist');
      const edit_info = document.getElementById('edit_info');
      edit.onmouseover = function(){
        edit_info.style.fontSize = '16px';
        edit_info.style.display = 'inline';
        edit_info.style.padding = '10px, 0';
      }
      edit.onmouseleave = function(){
        edit_info.style.display = 'none';
      }
        
      const playlistTracks = JSON.parse('{{ playlist_tracks | tojson }}');

      // Allow the user to start playing the playlist at any track
      URIs = []
      for (const track of playlistTracks) {
        URIs.push('spotify:track:'+track);
      }

      document.getElementById('loadPlaylist').onclick = function() {
        console.log(" CLICK");
        const update_queue = () => {
            console.log("Updating the queue");
            let update_queue = fetch("https://api.spotify.com/v1/me/player/play", {
              method: "PUT",
              body: JSON.stringify({
                uris: URIs,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => {
              console.log(response)
              if (response['status']> 300) {
                document.getElementById('re-auth').style.display = "block";
              }});
            };
        update_queue();
        
        player.togglePlay();

        const navigate=document.getElementById('navigate');
        navigate.style.display = "block";

      };

      for (const [index,track] of playlistTracks.entries()) {
        const tempURIs = URIs.slice(index).concat(URIs.slice(0,index));
        const trackID = track;
        document.getElementById(trackID).onclick = function() {
          const update_queue = () => {
            console.log("Updating the queue not from start");
            let update_queue = fetch("https://api.spotify.com/v1/me/player/play", {
              method: "PUT",
              body: JSON.stringify({
                uris: tempURIs,
              }),
              headers: new Headers({
                Authorization: "Bearer " + token,
              }),
            }).then((response) => {
              console.log(response)
              // Ask user to re-authorize Spotify if there is an error 
              if (response['status'] > 300) {
                document.getElementById('re-auth').style.display = "block";
              }});
            };
        update_queue();
        
        player.togglePlay();
        
        // Display the bottom navbar
        const navigate=document.getElementById('navigate');
        navigate.style.display = "block";
      };
      }
  }
</script>

{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}