{% extends 'base.html' %}

{% block title %}User - Details{% endblock %}

{% block body %}
<div class="container-fluid"> 
  <div class="row"> 
    <p> Profile</p>

    <h1>
      {{ user.username }}
    </h1>
  </div>

  <div class="row"> 
    {% if user.get_solo_playlists(user) == [] and user.get_shared_playlists(user) == [] %}
      <h3>No playlists to display yet, invite other users to create a shared playlist or create your own!</h3>
        <form action = /playlist method = 'POST'>  
          <p>
            <button type="submit"> Create Solo Playlist</button>
          </p>
        </form>
    {% else %}
      <h3> Playlists </h3>
      <p>Select a playlist to start listening </p>
      {% for playlist in user.get_solo_playlists(user) %}
        <div class="col-3">
          <form action = "/view_solo_playlist/{{ playlist[0] }}">
            <button type="submit" name="invitation" value="accept">{{ playlist[1] }}</button>
          </form>
        </div>
      {% endfor %}

      {% for playlist in user.get_shared_playlists(user) %}
          <div class="col-3">
            <form action = "/view_shared_playlist/{{ playlist[0] }}">
              <button type="submit" name="invitation" value="accept">{{ playlist[1] }}</button>
            </form>
          </div>
      {% endfor %}
      {% if user.get_solo_playlists(user) == [] %}
        <h4> Create your own solo playlist! </h4>
        <form action = /playlist method = 'POST'>  
          <p>
            <button type="submit"> Create Solo Playlist</button>
          </p>
        </form>
      {% endif %}
    {% endif %}
    
    
    <div class="row">
      <h3>Create a blend with another user</h3>
      <form action = /blend method = 'POST'>  
        <p>
          Please the other user's username: <input type="text" name="other-user">
          <input type="submit">
        </p>
      </form>
    </div>

    <div class="row">
      <div class="col">
      {% if user.get_pending_invitations(user) != [] %}
      <h3> Invitations pending your approval: </h3>
      {% for invitation_id in user.get_pending_invitations(user) %}
        <form action = "/update_invitation/{{ invitation_id }}" method = 'POST'>
          <li>Invitation from {{ user.get_other_user_by_invitation_id(invitation_id).username }}
            <button type="submit" name="invitation" value="accept">Accept</button>
            <button type="submit" name="invitation" value="decline">Decline</button>
          </li>
        </form>
      {% endfor %}
      {% endif %}
      </div>

      <div class="col">

      <h3>Sent Invitations to: </h3>
      {% for users in user.sent_invitations %}
        <li>{{ users.username }}</li>
      {% endfor %}
     </div>
  </div>


    <h3>User's Tracks</h3>
    {% for track in user.tracks %}
      <li>{{ track.title }}, {{ track.artist }}</li>
    {% endfor %}
    <br>

    <a href='/authorize'>Refresh data?</a>
  </div>
</div>

{% endblock %}