{% extends 'base.html' %}

{% block title %}User - Details{% endblock %}

{% block body %}
<h1>User Profile</h1>

<p>
  Username: {{ user.username }}
</p>

<h2> Create your own playlist! </h2>
<form action = /playlist method = 'POST'>  
  <p>
    <button type="submit"> Create Playlist</button>
  </p>
</form>

<h2>Create a blend with another user</h2>
<form action = /blend method = 'POST'>  
  <p>
    Please the other user's username: <input type="text" name="other-user">
  </p>
  <input type="submit">

</form>

<h2>Sent Invitations to: </h2>
{% for users in user.sent_invitations %}
  <li>{{ users.username }}</li>
{% endfor %}

<h2> Invitations pending your approval: </h2>
{% for invitation_id in user.get_pending_invitations(user) %}
  <form action = "/update_invitation/{{ invitation_id }}" method = 'POST'>
    <li>Invitation from {{ user.get_other_user_by_invitation_id(invitation_id).username }}
      <button type="submit" name="invitation" value="accept">Accept</button>
      <button type="submit" name="invitation" value="decline">Decline</button>
    </li>
  </form>

{% endfor %}

<h2> Accepted Invitations: </h2>
{% for invitation_id in user.get_accepted_invitations(user) %}
  <form action = "/playlist/{{user.get_other_user_by_invitation_id(invitation_id).id}}" method = 'POST'>
    Playlist with {{user.get_other_user_by_invitation_id(invitation_id).username}}
    <button type="submit" name="invitation" value="accept">View Playlist</button>
  </form>
{% endfor %}


<h2>User's Tracks</h2>
{% for track in user.tracks %}
  <li>{{ track.title }}</li>
{% endfor %}

<br>

<a href='/authorize'>Refresh data?</a>

{% endblock %}